<h1 class="title">Médailles par pays</h1>

<div class="databar">
    <div>
        <span>Nombre de JO</span>
        <span>10</span>
    </div>
    <div>
        <span> Nombre de pays</span>
        <span>10</span>
    </div>
</div>

<app-home-chart></app-home-chart>

<br><br><br><br><br><br>
<hr>


<h2>Data test</h2>
@for (item of olympicData(); track $index) {
    {{item.country}}
    <br>
    @for (p of item.participations; track $index) {
       {{p.year}} : {{p.medalsCount}} /
    }
    <br><br>
}
