<h1 class="title">Médailles par pays</h1>

<div class="databar">
    <div>
        <span>Nombre de JO</span>
        @defer (when nbrOfOlympicGames) {
            <span>{{nbrOfOlympicGames}}</span>
        }@placeholder {
            <div style="display: inline-block; height: 1.4em; width: .1w"></div>
        }
    </div>
    <div>
        <span> Nombre de pays</span>
        @defer (when nbrOfCountries) {
            <span>{{nbrOfCountries}}</span>
        }@placeholder {
            <div style="display: inline-block; height: 1.4em; width: .1w"></div>
        }
    </div>
</div>

<app-home-chart></app-home-chart>

