/* You can add global styles to this file, and also import other style files */
:root{
    --color1: #04838f;
    --color2: grey;
    --color3: white;
}

button{
    background-color: var(--color1);
    color: var(--color3);
    width: fit-content;
    padding: 12px;
    border: 2px solid var(--color1);
    border-radius: 12px;
    margin: 24px auto;
    text-transform: capitalize;
}

button:hover{
    background-color: transparent;
    color: var(--color1);
}

button:active{
    box-shadow: inset 0 0 0px 3px var(--color1);
}

.title{
    background-color: var(--color1);
    color: var(--color3);
    width: fit-content;
    padding: 12px;
    border-radius: 12px;
    margin: 24px auto;
}

.databar{
    display: flex;
    justify-content: space-evenly;
}

.databar > div {
    border: 2px solid var(--color1);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 3em;
}

.databar > div > span:first-child{
    color: var(--color2);
}
.databar > div > span:last-child{
    font-weight: bold;
    font-size: 1.2em;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    padding: 0 10vw;
}
.error span {
    font-size: xx-large;
    color: var(--color2);
    margin-bottom: 3vh;
}
.error button{
    width: fit-content;
    margin: 0 auto;
}